html,body, #app, #app>div{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #FFECCC;
}

.contenido-principal{
    display: flex;
    flex-direction: column;
}


.padding-0-margin-0{
    padding: 0px;
    margin: 0px;
}


.columna-chat{
    display:flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
}

.chat-input-text{
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 4px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #bfe3ee;
    margin-right: 12px;
}


